<?php

return array(
    'queryanalyzer' => array(
        'displayQueryAnalyzer' => true,
        'log' => false,
        //Loggers
        'loggers' => array(
        ),

        'appearance' => array(
            //left OR right
            'button_position_horizontal'  => 'right',
            //top OR bottom
            'button_position_vertical'    => 'bottom',
        )
    ),
);